/* This stylesheet is used to style the public view of the plugin. */

.mareon-anomalies-home > .home-content {
	display: inline-block;
	vertical-align: top;
	box-sizing: border-box;
	margin: 0;
	padding: 10px;
	width: 25%;
	margin-left: -4px;
}

.mareon-anomalies-home .home-content > a {
	display: block;
	position: relative;
	overflow: hidden;
	border: 1px solid black;
}

.mareon-anomalies-home img {
	display: block;
	width: 100%;
}

.mareon-anomalies-home .home-meta {
	position: absolute;
	bottom: -30%;
	left: 0%;
	background-color: #0C71B9; 
	color: #fff;
	width: 100%;
	text-align: center;
	transition: bottom .8s;
	text-transform: uppercase;
}

.mareon-anomalies-home .home-meta .home-caption {
	margin: 0;
	padding: 5px 0px;
}

.mareon-anomalies-home .home-content > a:hover > .home-meta {
	bottom: 0%;
}
