/* This stylesheet is used to style the public view of the plugin. */

.block-type-content div.entry-content .home-banner {
  background-color: #00aae3;
  color: white;
  text-transform: uppercase;
  padding: 5px;
  font-size: 18px;
  text-align: center;
  letter-spacing: 1px;
  font-family: Arial;
  margin-bottom: 0;
}

.heather-ruthig-gallery .gallery-thumbnails {
	float: right;
	width: 25%;
	box-sizing: border-box;
	margin: 0;
	display: inline-block;
	padding-left: 10px;
	text-align: right;
}

.heather-ruthig-gallery .gallery-full {
	display: inline-block;
	box-sizing: border-box;
	width: 75%;
	overflow: hidden;
	position: relative;
	white-space: nowrap;
	max-width: 600px;
	max-height: 550px;
	display: block;
}

.heather-ruthig-gallery .gallery-full .gallery-content {
	display: block;
}

.heather-ruthig-gallery > .gallery-content {
	display: inline-block;
	vertical-align: top;
	box-sizing: border-box;
	margin: 0;
	padding: 10px;
	width: 25%;
	margin-left: -4px;
}

.heather-ruthig-gallery .gallery-content > a {
	display: block;
	position: relative;
	overflow: hidden;
	display: inline-block;
	padding-right: 5px;
}

.heather-ruthig-gallery .gallery-content > a::before {
	content: "";
	position: absolute;
	top: 0;
	bottom: 0;
	right: 5px;
	left: 0;
	background-color: rgba(41, 170, 225, .5);
	z-index: 2;
}

.gallery-content.gallery-content-thumbnail {
	display: inline-block;
	width: 50%;
	box-sizing: border-box;
	margin: 0;
	margin-left: -4px;
	padding: 5px;
}

.heather-ruthig-gallery .gallery-content-thumbnail.current > a::before,
.heather-ruthig-gallery .gallery-content-thumbnail > a:hover::before {
	display: none;
}

.heather-ruthig-gallery .gallery-content-thumbnail.current > a  > img {
	border: 2px solid #0C71B9;
}

.heather-ruthig-gallery .gallery-content > a > img {
	width: 100%;
}

.heather-ruthig-gallery img {
	display: block;
	width: auto;
	max-width: 100%;
	max-height: 100%;
}

.heather-ruthig-gallery .gallery-meta {
	left: 100%;
	background-color: #0C71B9;
	color: #fff;
	text-align: left;
	transition: bottom 1s;
	padding: 40px 40px 20px 40px;
}

/** Gallery Info
*******************/

.heather-ruthig-gallery .gallery-info {
	clear: both;
	display: block;
	position: relative;
}

.heather-ruthig-gallery .gallery-info .gallery-title {
	font-size: 40px;
	line-height: 120%;
	text-transform: uppercase;
}

.heather-ruthig-gallery .gallery-info .gallery-description {
	line-height: 100%;
}

.heather-ruthig-gallery .gallery-info .gallery-price {
	margin: 0;
	padding: 0;
}

.heather-ruthig-gallery .gallery-info .gallery-price::before {
	content: "$";
	display: inline;
}
