/* This stylesheet is used to style the admin option form of the plugin. */

.form-table td label {
	clear: both;
	width: 110px;
	text-align: right;
	margin-right: 20px;
}

.form-table td label, .form-table td input {
	display: inline-block;
	float: left;
}